<h1>
<% if controller.kind_of?(Admin::Base) %>
  <%= link_to "べんとーべん", :admin_root %>
<% else %>
  <%= link_to "べんとーべん", root_path %>
<% end %>
</h1>
<div id="login_form" >
  <% if @current_member %>
    <p class="member">
      <%= @current_member.name %>さん |
      <%= link_to "ログアウト", :session, method: :delete, confirm: "ログアウトしますか？"  %>
      <% if controller.kind_of?(Admin::Base) %>
          <div id="menubar" class="admin">
  <p><%= link_to "予約管理", :admin_orders %> &nbsp;|&nbsp; <%= link_to "在庫管理", :admin_stocks %></p>
  <p><%= link_to "料理管理", :admin_dishes %> &nbsp;|&nbsp; <%= link_to "会員管理", :admin_members %></p>
          </div>
      <% else %>
          <div id="menubar" class="nomal user">
  <p><%= link_to "予約", :new_order %> &nbsp;|&nbsp;<%= link_to "予約履歴", :orders %></p>
  <p><%= link_to "個人情報", :edit_account %></p>
          </div>
      <% end %>
      <br>
      <br>
    </p>

  <% else %>
    <%= render "shared/login_form" %>
  <% end %>
</div>
